[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	fp = format-patch
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
[core]
	pager = cat
	editor = mvim -f
	autocrlf = input
	excludesfile = ~/.gitignore_global
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
